* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
overflow: hidden;
height: 100vh;
background: #000;
	section{
height: 100vh;

		span{
			position: absolute;
			pointer-events: none;
			animation: animate 5s linear infinite;
		}

	}
	@keyframes animate {
		0%{transform: scale(0) translateY(0) rotate(0deg);
		opacity: 0;}
		10%{opacity: 0;}
		90%{opacity: 1;}
		100%{transform: scale(1) translateY(-500%) rotate(360deg);
			opacity: 0;}
	}
}

main{
	position: absolute;
    width: 80vw;
    height: 80vh;
    left: 10vw;
	top: 10vh;
	border-radius: 10px;
	border: #ad4c00 2vh solid;
color: black;

	box-shadow: 0 25px 50px rgba($color: #fff, $alpha: 0.2);
	background: transparent;
	backdrop-filter: blur(1px);
	background-image: -moz-element(section);
	filter: invert(100%);
	.title{
		top: -4vh;
		position: relative;
		color:white;
		filter: invert(100%);
		.footer{
			background-color:#52B3FF;
							-webkit-box-shadow: 0vh 3vh 10vh 12vh #52B3FF; 
							box-shadow: 0vh 3vh 10vh 12vh #52B3FF;
			right: 5vw;
			top: 81.5vh;	
			position: absolute;
			overflow: visible;
			white-space: nowrap;
			text-align: center;
			font-family: Raleway-Heavy;
			font-style: normal;
			font-weight: normal;
			font-size: 29.7266902923584px;			
			letter-spacing: 0.25px;
			padding: 5px;
		}
	.boxP{
		background-color:#52B3FF;
		left: 5vw;	
		position: absolute;
		overflow: visible;
		padding: 5px;
		-webkit-box-shadow: 0vh 1vh 1vh 2vh #52B3FF; 
		box-shadow: 0vh 1vh 1vh 2vh #52B3FF;
			.name{			
							
			white-space: nowrap;
			text-align: center;
			font-family: Raleway-Heavy;
			font-style: normal;
			font-weight: normal;
			font-size: 29.7266902923584px;
			letter-spacing: 0.25px;}}
		nav{
			display:none;
			-webkit-box-shadow: 0vh -3vh 10vh 12vh #52B3FF; 
							box-shadow: 1vh 2vh 10vh 7vh #52B3FF;
							background-color:#52B3FF ;
			ul {
				list-style:none;
				display:flex;
				top: -4vh;
				flex-direction:row;
				justify-content: space-between;
				align-items: center;
			left: 5vw;	
			position: absolute;
			overflow: visible;
			padding: 5px;			
			white-space: nowrap;
			text-align: center;
			font-family: Raleway-Heavy;
			font-style: normal;
			font-weight: normal;
			font-size: 29.7266902923584px;
			color: rgba(39,54,80,1);
			letter-spacing: 0.25px;}			
					li{
						 a {
						color: rgba(39,54,80,1);
						display:block;
						margin-right: 10vh;
							width: 12vw;
							height: 5vw;
							font-size: 2vw;
						text-decoration:none;
						transition: 5s;
						border-radius: 2vh;
							}
						a:hover {		
						transform: translateX(10px) translateY(10px);
						color:green;
								}	
						.active{

							color:white;
						}
						}	
				}}
		}
	
	.container1{
		width: 100%;
		height: 100%;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 10px;
	filter: invert(100%);
.box{
	box-shadow: inset 5px 5px 5px rgba($color: #fff, $alpha: 0.05),
	inset -5px -5px 5px rgba($color: #000000, $alpha: 0.5),
	 5px 5px 5px rgba($color: #fff, $alpha: 0.05),		 
	 -5px -5px 5px rgba($color: #000000, $alpha: 0.5);
	 border: #52B3FF 1vh solid;
		border-radius: 15px;
		width: 20vw;
		height: 10vw;
	.opt{
		width: 100%;
		height: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Raleway-Heavy;
		font-style: normal;
		font-weight: normal;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		font-size: 2vw;
		padding: 20px;
		color: #52B3FF;
		letter-spacing: 0.25px;
		position: relative;
		transition: 5s;
	}

	.opt:hover{
		width: 19vw;
		height: 9vw;
		transform: translateY(-5vh) translateX(-5vh);
		border-radius: 15px;
		box-shadow: inset 5px 5px 5px rgba($color: #fff, $alpha: 0.05),
	inset -5px -5px 5px rgba($color: #000000, $alpha: 0.5),
	 5px 5px 5px rgba($color: #fff, $alpha: 0.05),		 
	 -5px -5px 5px rgba($color: #000000, $alpha: 0.5);
border: red 5px solid;
color: brown;
		}
}
}
.container2{
color:#52B3FF;
font-size: large;
display: none;
margin-top: 10vh;
color: white;
flex-direction: column;
justify-items: center;
align-items: center;

filter: invert(100%);
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	background-color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
	background-color: black;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,.next:hover {
	background-color: rgba(255,255,255,255.8);
	color: #000;
  }
 
  /* Caption text */
  .text {

	font-size: 15px;
	padding: 8px 12px;
color: black;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  .desc{	font-size: 15px;
	padding: 8px 12px;
color: black;
	bottom: 8px;
	width: 100%;
	text-align: center;}
  /* Number text (1/3 etc) */
  .numbertext {

	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  img{
	  height: 30vh;
	  width: 20vw;
	  margin-left: 25vw;
  }
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

}
.container3{
	display: none;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	filter: invert(100%);
	.first {
		display: grid;
		border: olive 2px solid;
		border-radius: 20px;
		padding: 10px;
		grid-template-columns: 4fr 3fr 4fr 1fr;
		grid-template-rows: 2fr 2fr 2fr;
		gap: 2px 0px;
		grid-template-areas:
		  "item9 item10 item11 item12"
		  "item1 item2 item3 item4"
		  "item13 item14 item15 item16"
		  "item5 item6 item7 item8"
		  ;
	  
	  .fitem1 { grid-area: item1; }
	  .fitem2 { grid-area: item2; }
	  .fitem3 { grid-area: item3; }
	  .fitem4 { grid-area: item4; }
	  .fitem5 { grid-area: item5; }
	  .fitem6 { grid-area: item6; }
	  .fitem7 { grid-area: item7; }
	  .fitem8 { grid-area: item8; }
	  .fitem9 { grid-area: item9; }
	  .fitem10 { grid-area: item10; }
	  .fitem11 { grid-area: item11; }
	  .fitem12 { grid-area: item12; }
	  .fitem13 { grid-area: item13; }
	  .fitem14 { grid-area: item14; }
	  .fitem15 { grid-area: item15; }
	  .fitem16 { grid-area: item16; }
	}
	.second {
		display: grid;
		border: olive 2px solid;
		border-radius: 20px;
		padding: 10px;
		grid-template-columns: 10fr 10fr 3fr 1fr;
		grid-template-rows: 2fr 2fr;
		gap: -10px 0px;
		grid-template-areas:
		  "item4 item5 item6"
		  "item1 item2 item3"
		  ; 
	  .sitem1 { grid-area: item1; }
	  .sitem2 { grid-area: item2; }
	  .sitem3 { grid-area: item3; }
	  .sitem4 { grid-area: item4; }

	}
	.third {
		border: olive 2px solid;
		border-radius: 20px;
		padding: 10px;
		display: grid;
		grid-template-columns:2.5fr 0.6fr;
		grid-template-rows: 3.3fr 2fr;
		gap: 0px 0px;
		grid-template-areas:
		  "item3 item4"
		  "item1 item2"
		  ; 
	  .titem1 { grid-area: item1; }
	  .titem2 { grid-area: item2; }
	  .titem3 { grid-area: item3; }
	  .titem4 { grid-area: item4; }
	}

}
.container4{
	width: 100%;
	height: 90%;
	overflow: visible;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 10px;
	font-size: 1vw;
	color:#ad4c00;
	img{  height: 20vh;
		filter: invert(1);
	border-radius: 10%;}
	.contact{
		display: flex;
		align-items: flex-end;
		font-size: 1.8vw;
		div{
	
			margin: 5px;
			a{

				color:#ad4c00;
			}
		}
	}
}
@media only screen and (max-width: 900px) {
	.container4{
		font-size: 2vw;
	.contact{flex-direction: column;
		font-size: 3vw;
		div{
	
			margin: 0px;}}
	

}}
